.input-disabled {
    padding: 2px 5px;
    background: white;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    outline: none;
    border: 0;
}

.input {
    padding: 2px 5px;
    background: white;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    outline: none;
    border: 0;
}